body {
	background: url("radar.jpg") no-repeat;
	background-color: black;
	font-family: Helvetica, sans-serif;
}

#board {
	position: relative;
	width: 100%;
	height: 860px;
	margin: auto;
}

#messageArea {
	position: absolute;
	top: 29px;
	left: 5px;
	color: #fcff63;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	background-color: #666;
	padding: 5px;
	border: 2px solid #fcff63;
	border-radius: 5px;
	max-width: 200px;
	z-index: 1;
}

.border {
	border: 1px solid #7dfb0b;
}

table {
	position: absolute;
	left: 226px;
	top: 29px;
	border-spacing: 0px;

}

td {
	width: 94px;
	height: 94px;
	color: #00fffa;
	text-align: center;
	font-size: 32px;
	background-color: rgb(255,255,255, 0.3);
}

form {
	position: absolute;
	bottom: 415px;
	right:  0px;
	padding: 12px;
	background-color: #478e15;
	border: 1px solid #fcff63;
	border-radius: 5px;
}

form input {
	background-color: #666;
	border: 2px solid white;
	padding: 3px;
	height: 25px;
	color: #fcff63;
	font-size: 13px;
}

p {
	text-shadow: 2px 2px black;
	margin: 29px 0px 29px 0px;
}

.hit {
	background: rgba(250,0,0,0.6) url("ship.png") no-repeat center center;
	padding: 0px;
}

.hitColor {
	color: red;
	font-weight: bold;
}

/*
.miss {
	background: rgb(0,0,0,0.5) url("miss.png") no-repeat center center;
}
*/

.miss {
	background-color: rgba(0,0,0,0.5);
	color: #7dfb0b;
	font-weight: bold;
	padding: 0px;
}

.input1 {
	width: 150px;
}

.input2 {
	width: 50px;
}

.smallText {
	font-size: 14px;
	color: #00fffa;
}

#fireButton {
	border-radius: 50%;
	height: 40px;
	width: 40px;
	background-color: red;
	color: white;
	text-align: center;
	font-weight: bold;
	box-shadow: 2px 2px black;
}

#fireButton:hover {
	color: red;
	background-color: white;
	border: 2px solid red;
}
